In [5]:
import pandas as pd

df_numeric = pd.DataFrame({'Number': range(1, 10), 'Square': [10, 11, 9, 16, 20, 15, 12, 9, 3]})

df_numeric

   Number  Square
0       1      10
1       2      11
2       3       9
3       4      16
4       5      20
5       6      15
6       7      12
7       8       9
8       9       3

In [8]:
df_numeric["Target"] = (df_numeric["Square"].shift(1) < df_numeric["Square"])

df_numeric
# data["Target"] = (data["Closing price"].shift(-PRED_HORIZON) > data["Closing price"] * (1 + FACTOR)).astype(int)

   Number  Square  Target
0       1      10   False
1       2      11    True
2       3       9   False
3       4      16    True
4       5      20    True
5       6      15   False
6       7      12   False
7       8       9   False
8       9       3   False